body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 50%;
    max-width: 600px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

h5 {
    font-size: 20px;
}

p {
    font-size: 14px; 
}